# JetBrains IDEs (IntelliJ IDEA, WebStorm, etc.)
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Linux
*~

# Local git worktrees
.worktrees/

.env
/Lab7/target/
/Lab6/frontend/.angular/
/Lab6/frontend/.vscode/
/Lab6/frontend/.vscode/
/Lab6/frontend/.vscode/
